.trans(@speed:200ms) {
-webkit-transition: 	all @speed ease-in-out;
-moz-transition: 		all @speed ease-in-out;
-ms-transition: 		all @speed ease-in-out;
-o-transition: 			all @speed ease-in-out;
transition: 			all @speed ease-in-out;
}
.br(@radius:4px) {
webkit-border-radius: 	@radius;
border-radius: 			@radius;
}

.box {
	padding:10px; 
	&.center { text-align:center;}
	@media (min-width: @screen-sm) {
	padding:20px;
	}
	
	@media (min-width: @screen-md) {
	padding:30px;
	}
	
	@media (min-width: @screen-lg) {
		padding:40px;
	}
}


section {
  padding:10px;
  @media (min-width: @screen-sm) {
  padding:20px;
  }
  
  @media (min-width: @screen-md) {
  padding:30px;
  }
  
  @media (min-width: @screen-lg) {
    padding:40px;
  }
  
  &.red { background:red}
  &.blue { background:blue;}
}
