/*------------------------------------------------------------------------------
/*   Lists
----------------------------------------------------------------------------- */

nav ul{

}

.list {
	padding:0px; margin:0px;
}

.list.horizont {
	li { display:inline-block; margin-left:10px;}
	li:first-child{ margin-left:0;}
}

