h1,h2,h3,h4,h5,h6 {line-height:1}


/*------------------------------------------------------------------------------
/*   Style form placeholders
----------------------------------------------------------------------------- */
::-webkit-input-placeholder {
   color: @placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: @placeholder-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @placeholder-color;  
}

:-ms-input-placeholder {  
   color: @placeholder-color;  
}